<div class="phone-book d-flex">
  <div class="left-container">
    <div class="header d-flex">
      <h5>PhoneBook</h5>
      <button class="btn btn-success" (click)="addNewContact()">add new</button>
    </div>
    <div class="addNumberFormContainer" *ngIf="showAddForm">
      <app-contact-form (formValue)="formValue($event)"></app-contact-form>
    </div>
    <!-- <div class="add-contact-btn">+</div> -->
    <div class="number-list">
      <app-number-list [sendUserData]="newUser" (getData)="getData($event)"></app-number-list>
    </div>
  </div>
  <div class="right-container">
    <app-user-detail [index]="number"></app-user-detail>

    <!-- <h1>text : {{message}}</h1> -->
  </div>
</div>
