<div class="user-detail" *ngIf="showUserInfo">
  <div class="image-container">
    <img src="{{ user[index].image }}" alt="" class="cover-foto" />
    <img src="{{ user[index].image }}" alt="" class="profile-picture" />

    <div class="cover-color"></div>
    <button class="edit-contact btn btn-primary" (click)="showHideFormBtn(user[index])">
      Edit
    </button>
  </div>
  <div class="detail-container d-flex">
    <div class="details">
      <div class="phone d-flex">
        <i class="fa fa-user icon" aria-hidden="true"></i>
        <h5 class="detail">{{ user[index].name }}</h5>
      </div>

      <div class="phone d-flex">
        <i class="fa fa-phone icon" aria-hidden="true"></i>
        <h5 class="info-item">{{ user[index].phone }}</h5>
      </div>

      <div class="phone d-flex">
        <i class="fa fa-envelope-o icon" aria-hidden="true"></i>
        <h5 class="Email info-item">{{ user[index].email }}</h5>
      </div>

      <div class="phone d-flex">
        <i class="fa fa-map-marker icon" aria-hidden="true"></i>
        <h5 class="Address info-item">{{ user[index].address }}</h5>
      </div>
    </div>
    <div class="form-container" *ngIf="toggleForm">
      <app-contact-form [userDetails]="index"></app-contact-form>
    </div>
  </div>
</div>
